*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{   
    position: fixed;
    z-index: 3;
    background-color: white;
}

.contain{
   width: 100vw;
   max-width: 1440px;
   min-width: 800px;
   position: relative;
}

.row{
    width: 95%;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


ul li{
    list-style: none; 
    display: inline-block;
}

.menu{
    height: 80px;
    line-height: 80px;  
}

.left{
    float: left;
}

.right{
    float: right;
}

.logo{
    vertical-align: middle;
}

.left ul li{
    padding-right: 30px;
}

.right ul li{
    padding-left: 30px;
}

.jumbo{
    width: 80%;
    margin: 0 auto;
    padding: 90px 0;
}

.primo{
    height: 650px;
    background-color: rgb(220, 236, 250);
    padding-top: 80px;
}

.jumboimg{
    width: 800px;
    position: absolute;
    top: 270px;
    right: 10%;
}

.jumbo h1{
    font-size: 75px;
}

.p{
    width: 30%;
    margin: 30px 0;
}

a{
    text-decoration: none;
}

.prova, .inizia{
    color: white;
    background-color: rgb(48, 130, 253);
    padding: 10px 20px;
}

.prova:hover{
    color: rgb(220, 236, 250);
}

.annulla{
    color: black;
}

.blu{
    margin-bottom: 25px;
}

.freccia{
    margin: 30px 0;
    font-size: 30px;
}

/* FATTURAZIONE*/


.fatturazione{
    width: 70%;
    margin: 0 auto;
    padding: 200px 0 100px 0;
}

.fatturazione h2{
    font-size: 40px;
    margin-bottom: 40px;
}

.scelta{
    margin: 0 0 0 10px;
}

input{
    display: inline-block;
}

/*PIANO FATTURAZIONE*/

.uno,.due,.tre{
    width: 30%;
    height: 1000px;
    border: solid 1px rgb(235, 235, 235);
}

.uno,.due{
    float: left;
}

.due{
    margin-left: 5%
}

.tre{
    float: right;
}

form{
    margin-bottom:30px;
}

.testa{
    border-bottom: solid 1px rgb(235, 235, 235);
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.corpo,.piede{
    padding: 30px 30px 0 30px;}

.piano{
    margin: 40px 0 15px 0;
}

p a{
    text-decoration: underline;
    color: rgb(48, 130, 253);
}

.piccolo{
    width: 30%;
    size: 1px;
}

hr{
    color: rgb(235, 235, 235);
    width: 20%;
    height: 1px;
}

.fa-check{
    color:rgb(48, 130, 253)
}

h3,.punti{
    padding: 10px 0;
}

.corpo h3{
    font-size: 30px;
}

.corpo div,.corpo p{
    padding-bottom: 15px;
}

.enterprise{
    width: 100%;  
    display: inline-block;
    margin-top: 50px;
    border: solid 1px rgb(235, 235, 235);
}

.quattro{
    position: relative;
}

.quattro .corpo h4{
    padding-bottom: 25px;
}


.quattro .corpo .piano{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-15%,150%);
}

/*TERZO PARAGRAFO*/

.partner{
    width: 70%;
    margin: 0 auto;
}

.partner img{
    width: 50%;
    float: left;
}

.partner .foto{
    float: right;
    width: 50%;
}

.text{
    width: 75%;
    margin: 30px auto;
}

/*QUARTO PARAGRAFO*/

.quarto{
    width: 70%;
    margin: 100px auto;
}

span{
    text-decoration: underline;
}

.quadrante h2{
    font-size: 45px;
    margin-bottom: 50px;
}

.operazione{
    width: 30%;
}

.operazione img{
    width: 100%;
}

.operazione h4{
    font-size: 30px;
    margin-bottom: 20px;
}

.operazione p{
    font-size: 18px;
}

.sx,.cnt{
    float: left;
}

.dx{
    float: right;
}

.sx{
    margin-right: 5%;
}

.down{
    margin: 100px 0 150px 0;
    height: 500px;
}

/* QUINTO PARAGRAFO*/

.team{
    width: 70%;
    margin: 0 auto;
}

.team .quadrante{
    width: 55%;
    margin-bottom: 20px;
}

.team .quadrante h2{
    margin-bottom: 0;
}

.team .quadrante p{
    margin: 20px 0;
    text-decoration: underline;
    color:rgb(48, 130, 253)
}

.aziende{
    height: 400px;
    width: 100%;
}

.lsx{
    width: 30%;
    float: left;
    position: relative;
    height: 100%;
}

.lsx div{
    width: 50%;
    height: 50%;
}

.A {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(114, 199, 114);
}

.B {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(155, 65, 95);
}

.C {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(29, 165, 255);
}

.D {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
}

.immagine img{
    width: 55%;
}

.A img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.B img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.C img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.D img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.lrx{
    width: 30%;
    float: right;
    position: relative;
    height: 100%;
}

.lrx div{
    width: 50%;
    height: 50%;
}


.E img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.F img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.G img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.H img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.E {
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgb(182, 0, 0);
}

.F {
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightblue;
}

.G {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(43, 43, 221);
}

.H {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(240, 217, 13);
}

.lc{
    width: 40%;
    float: left;
    height: 100%;
    background-color: rgb(238, 238, 238);
}

.lc{
    padding: 40px;
}

.lc img{
    width: 25%;
}

.lc hr{
    height: 1px;
    margin: 25px 0 30px 0;
    width: 10%;
    color: rgb(196, 196, 196);
}

.lc p{
    padding: 20px 0;
}

.azienda{
    height: 300px;
    width: 100%;
    background-color: lightblue;
    position: relative;
}

.azienda h2{
    color: rgb(155, 65, 95);
    font-size: 40px;
}

.business{
    width: 70%;
    margin: 0 auto;
}

.testo{
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 45%;
}

.business .gratuita{
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 15%; 
}

