*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contain{
   width: 100vw;
   max-width: 1440px;
   min-width: 800px;
   position: relative;
}

.row{
    width: 95%;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

ul li{
    list-style: none; 
    display: inline-block;
}

.menu{
    height: 80px;
    line-height: 80px;  
}

.left{
    float: left;
}

.right{
    float: right;
}

.logo{
    vertical-align: middle;
}

.left ul li{
    padding-right: 30px;
}

.right ul li{
    padding-left: 30px;
}

.jumbo{
    width: 80%;
    margin: 0 auto;
    padding: 90px 0;
}

.primo{
    height: 650px;
    background-color: rgb(220, 236, 250);
}

.jumboimg{
    width: 800px;
    position: absolute;
    top: 270px;
    right: 10%;
}

.jumbo h1{
    font-size: 75px;
}

.p{
    width: 30%;
    margin: 30px 0;
}

a{
    text-decoration: none;
}

.prova{
    color: white;
    background-color: rgb(48, 130, 253);
    padding: 10px 20px;
}

.prova:hover{
    color: rgb(220, 236, 250);
}

.annulla{
    color: black;
}

.blu{
    margin-bottom: 25px;
}

.freccia{
    margin: 30px 0;
    font-size: 30px;
}

/* FATTURAZIONE*/


.fatturazione{
    width: 70%;
    margin: 0 auto;
    padding: 200px 0 100px 0;
}

.fatturazione h2{
    font-size: 40px;
    margin-bottom: 40px;
}

.scelta{
    margin: 0 0 0 10px;
}

input{
    display: inline-block;
}

/*PIANO FATTURAZIONE*/

.uno,.due,.tre{
    width: 30%;
    height: 1000px;
    border: solid 1px rgb(235, 235, 235);
}

.uno,.due{
    float: left;
}

.due{
    margin-left: 5%
}

.tre{
    float: right;
}

form{
    margin-bottom:30px;
}

.testa{
    border-bottom: solid 1px rgb(235, 235, 235);
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.corpo,.piede{
    padding: 30px 30px 0 30px;}

.piano{
    margin: 40px 0 15px 0;
}

p a{
    text-decoration: underline;
    color: rgb(48, 130, 253);
}

.piccolo{
    width: 30%;
    size: 1px;
}

hr{
    color: rgb(235, 235, 235);
}

.fa-check{
    color:rgb(48, 130, 253)
}

h3,.punti{
    padding: 10px 0;
}

.corpo h3{
    font-size: 30px;
}

.corpo div,.corpo p{
    padding-bottom: 15px;
}

.enterprise{
    width: 100%;  
    display: inline-block;
    margin-top: 50px;
    border: solid 1px rgb(235, 235, 235);
}

.quattro{
    position: relative;
}

.quattro .corpo h4{
    padding-bottom: 25px;
}


.quattro .corpo .piano{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-15%,150%);
}

/*TERZO PARAGRAFO*/

.partner{
    width: 70%;
    margin: 0 auto;
}

.partner img{
    width: 50%;
    float: left;
}

.partner .foto{
    float: right;
    width: 50%;
}

.text{
    width: 75%;
    margin: 30px auto;
}

/*QUARTO PARAGRAFO*/

.quarto{
    margin-top: 100px;
}